<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.0/journal/bootstrap.min.css" />
    <link rel="stylesheet" href="style/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js" ></script>
    <script src="https://cdn.firebase.com/js/client/1.1.1/firebase.js" ></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.8.0/angularfire.min.js" ></script>    
</head>

<body>
<div class="container" ng-app="scheduleApp" ng-controller="mainController">
  
  <div class="page-header text-center">       
      <h1>Timetable</h1>        
      <p>Real-time scheduling </p> 
  </div>
   
    <p class="text-center">What time would you like to meet ??</p>
  
  <div class="row times">
    
    <div class="col-xs-4 text-center" ng-repeat="day in days">
              
      <h2>{{ day.name }}</h2>
      
      <div class="time-slot" ng-repeat="slot in day.slots track by $index ">    	
        <input type="checkbox" id="{{ day.name }}-{{ $index }}" ng-model="slot.booked" ng-disabled="slot.booked" >
        <label for="{{ day.name }}-{{ $index }}">{{ slot.time }}<br>
          <span ng-if="slot.booked">Booked</span>
          <span ng-if="!slot.booked">Available</span>
        </label>
      </div>
    </div>       
      
  </div>    
 
  
  <p class="text-center">    
    <a href="#" ng-click="reset()" class="btn btn-primary">Reset</a>
  </p>
</div>

    <script src="app/controller.js"></script>

</body>
</html>